{{notification-container position="top-right"}}
<div class="loading-frame dark {{showLoading}}">
  <div class="center-hz center-vt">
    <div><h2>Processing...</h2></div>
    <div class="lds-ripple center-hz"><div></div><div></div></div>
  </div>
  
</div>
{{#if isRegister}}
  <div class="limiter">
    <div class="xcontainer-login35in">
      <div class="wrap-login35in p-l-50 p-r-50 p-t-67 p-b-30">
        <form class="login35in-form validate-form">
          <div class="wrap-input35in validate-input m-b-16" data-validate = "">
            {{input value=firstname name="firstname" placeholder="Nombres" class="input35in"}}
            <span class="focus-input35in"></span>
            <span class="symbol-input35in">
              <span class="fa fa-user"></span>
            </span>
          </div>
          <div class="wrap-input35in validate-input m-b-16" data-validate = "">
            {{input value=lastname name="lastname" placeholder="Apellidos" class="input35in"}}
            <span class="focus-input35in"></span>
            <span class="symbol-input35in">
              <span class="fa fa-user"></span>
            </span>
          </div>
          <div class="wrap-input35in validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
            {{input value=login name="login" placeholder="Correo electrónico" class="input35in"}}
            <span class="focus-input35in"></span>
            <span class="symbol-input35in">
              <span class="fa fa-envelope"></span>
            </span>
          </div>

          <div class="wrap-input35in validate-input m-b-16" data-validate = "Password is required">
            {{input value=password name="password" placeholder="Contraseña" type="password" class="input35in"}}
            <span class="focus-input35in"></span>
            <span class="symbol-input35in">
              <span class="fa fa-lock"></span>
            </span>
          </div>

          <div class="wrap-input35in validate-input m-b-16" data-validate = "Password is required">
            {{input value=confirmpassword name="confirmpassword" placeholder="Confirma contraseña" type="password" class="input35in"}}
            <span class="focus-input35in"></span>
            <span class="symbol-input35in">
              <span class="fa fa-lock"></span>
            </span>
          </div>
          <div class="container-login35in-form-btn p-t-20">
            <button  {{action "registerRN"}} class="login35in-form-btn btn-success btn" role="button" >
              Crear cuenta
            </button>
          </div>
          <div class="text-center w-full p-t-20">
            <span class="txt1">
              ¿Ya tienes un correo registrado?
            </span>
            <LinkTo @route="login" class="btn btn-danger bo1 hov1" >
              Login
            </LinkTo>
          </div>          
        </form>
      </div>
    </div>
  </div>
{{else}}
  <div class="limiter">
    <div class="xcontainer-login35in">
      <div class="wrap-login35in p-l-50 p-r-50 p-t-67 p-b-30">

        <form class="login35in-form validate-form">
          <div class="wrap-input35in validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
            {{input value=login name="login" placeholder="Correo electrónico" class="input35in"}}
            <span class="focus-input35in"></span>
            <span class="symbol-input35in">
              <span class="fa fa-envelope"></span>
            </span>
          </div>
          <div class="wrap-input35in validate-input m-b-16" data-validate = "Password is required">
            {{input value=password name="password" placeholder="Contraseña" type="password" class="input35in"}}
            <span class="focus-input35in"></span>
            <span class="symbol-input35in">
              <span class="fa fa-lock"></span>
            </span>
          </div>
          <div class="contact35in-form-checkbox m-l-4">
<!--            <input class="input-checkbox35in" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox35in" for="ckb1">
              Remember me
            </label> -->
          </div>
          <div class="container-login35in-form-btn p-t-20">
            <button  {{action "authenticateRN"}} class="login35in-form-btn btn btn-danger" role="button" >
              Login
            </button>
          </div>

          
        </form>
      </div>
    </div>
  </div>
{{/if}}

  