
<a data-toggle="collapse" href="#branch_" class="repo list-group-item list-group-item-action flex-column align-items-start" role="button" aria-expanded="false" aria-controls="branch_">
  <div class="d-flex w-100 justify-content-between">
    <h3 class="mb-1">
      <i class="fa fa-{{icon}} {{bgcolor}}">      </i>
      {{member.fullName}}
      <!--  <small> {{member.status}}</small> -->
    </h3>
  </div>
  <p class="small mb-1"><a href={{repo.htmlUrl}}>CI #:{{member.nationalId}}</a></p>
</a>
<div class="collapse" id="branch_{{repo.id}}">
  <div class="card card-body">
    <small>REPORTAR</small>
  </div>
</div>
