<fieldset class="scheduler-border">
  <div class="form-group {{if this.errors.nationalId "error"}}">
    <Input name="nationalId" type="number" placeholder="Ingrese su Cedula" @value={{this.model.member.nationalId}} @class="form-control  numberText " @maxlength="10" @size="10" @keyPress={{ action "validateLength" }} @change={{ action "validateNationalId" this.model.member  }}  @keyDown={{ action "validateNumber" }}/>
    {{#if this.errors.nationalId }}
      <span class="help-block">{{this.errors.nationalId.[0].message}}</span>
    {{/if}}
  </div>

  <div class="form-group  {{if this.errors.firstName "error"}}">
    <Input name="firstName" placeholder="Ingrese Primer Nombre" @value={{this.model.member.firstName}} class="form-control" @maxlength="50" size="50" />
    {{#if this.errors.firstName }}
      <span class="help-block">{{this.errors.firstName.[0].message}}</span>
    {{/if}}
  </div>

  <div class="form-group  {{if this.errors.lastName "error"}}">
    <Input name="lastName"  placeholder="Ingrese sus Apellidos" @value={{this.model.member.lastName}} class="form-control" size="50" @maxlength="50" />
    {{#if this.errors.lastName }}
      <span class="help-block">{{this.errors.lastName.[0].message}}</span>
    {{/if}}
  </div>

</fieldset>


